**.xcuserstate
*.xcworkspacedata
*.xcscheme
FaceHeat2/pods/**
podfile.lock
**/xcuserdata/*
FaceHeat2/FLIROneSDK.bundle*
FLIROneSDK.bundle/**
FLIROneSDK.framework/**
FaceHeat2/FaceHeatIOS/FLIROneSDK.framework/FLIROneSDK*
FaceHeat2/FaceHeatIOS/FLIROneSDK.framework/Headers*
FaceHeat2/FaceHeatIOS/FLIROneSDK.framework/Versions/A/Headers/*
FaceHeat2/FaceHeatIOS/FLIROneSDK.framework/Versions/Current*
FaceHeat2/FaceHeatIOS/FLIROneSDK.framework/Versions/A/FLIROneSDK

# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep
